/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/RedHatDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}